@layer base {
    .bog-tooltip__content {
        background-color: var(--color-grey-fill-weak);
        color: var(--color-grey-text-strong);
        border: none;
        border-radius: 0.6rem;
        padding: 0.5rem 0.8rem 0.3rem 0.8rem;
        font-family: var(--font-paragraph);
        font-size: var(--text-mobile-small);
        line-height: var(--text-mobile-small--line-height);

        &[data-state="open"] {
            animation: var(--animate-fade-in);
        }
        &[data-state="closed"] {
            animation: var(--animate-fade-out);
        }
    }

    .bog-tooltip__arrow {
        fill: var(--color-grey-fill-weak);
        stroke: var(--color-grey-fill-weak);
        stroke-width: 0;
    }

}

