@layer base {
  .bog-tabs-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-paragraph);
  }

  .bog-tabs-list {
    display: flex;
    border-bottom: 1.5px solid var(--color-grey-stroke-weak);
    gap: 0.5rem;
    background: transparent;
    padding: 0 0.5rem;
    justify-content: space-between;
  }

  .bog-tabs-desktop {
    min-height: 48px;
    /* Desktop font size */
    font-size: var(--text-desktop-paragraph-1);
    line-height: var(--text-desktop-paragraph-1--line-height);
  }

  .bog-tabs-mobile {
    min-height: 40px;
    /* Mobile font size */
    font-size: var(--text-mobile-paragraph-1);
    line-height: var(--text-mobile-paragraph-1--line-height);
  }

  .bog-tabs-trigger {
    background: none;
    border: none;
    border-bottom: 2.5px solid transparent;
    color: var(--color-grey-text-weak);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bog-tabs-trigger[data-state='active'] {
    color: #22070B;
    border-bottom: 2.5px solid var(--color-grey-text-strong);
  }

  .bog-tabs-label {
    padding: 4px;
    border-radius: 4px;
  }

  .bog-tabs-trigger:hover .bog-tabs-label {
    background: var(--color-grey-fill-weak);
  }
}
