.trigger {
    cursor: pointer;
}

.content {
    box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    background-color: var(--color-solid-bg-base);
    color: var(--color-grey-text-strong);
    border-radius: 1rem;
    padding: 2rem;
    position: relative;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
        .close {
            &:hover {
                opacity: 75%;
                cursor: pointer;
            }

            &:active {
                opacity: 100%;
            }
        }
    }

    .arrow {
        fill: var(--color-solid-bg-base);
    }
}