@layer base {
  .toast {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-family: var(--font-paragraph);
    pointer-events: auto; /* ensures users can interact with the toast */
    user-select: none;  /* prevents text selection */
    touch-action: none; /* prevents touch actions */
  }

  /* FILLED TOAST */
  .toast.success {
    background-color: var(--color-status-green-text);
    color: white; 
  }

  .toast.error {
    background-color: var(--color-status-red-text);
    color: white;
  }

  .toast.info {
    background-color: var(--color-status-blue-text);
    color: white;
  }

  .toast.warning {
    background-color: var(--color-status-amber-text);
    color: white;
  }

  .toast.brand {
    background-color: var(--color-brand-text);
    color: white;
  }

  /* OUTLINE TOAST */
  .toast.outlined {
    background-color: white;
    border: 0.1rem solid;
  }

  .toast.outlined.success {
    border-color: var(--color-status-green-text);
    color: var(--color-status-green-text);
  }

  .toast.outlined.error {
    border-color: var(--color-status-red-text);
    color: var(--color-status-red-text);
  }

  .toast.outlined.info {
    border-color: var(--color-status-blue-text);
    color: var(--color-status-blue-text);
  }

  .toast.outlined.warning {
    border-color: var(--color-status-amber-text);
    color: var(--color-status-amber-text);
  }

  .toast.outlined.brand {
    border-color: var(--color-brand-text);
    color: var(--color-brand-text);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    background-color: transparent;
    color: white;
    flex-shrink: 0;
    margin-top: 0.1rem;
  }

  .icon.success {
    background-color: white;
    color: var(--color-status-green-text);
    border-radius: 50%;
  }

  .toast.outlined .icon {
    background-color: inherit;
    color: inherit;
  }

  .toast.outlined .icon.success {
    background-color: var(--color-status-green-text);
    color: white;
    border-radius: 50%;
  }
  
  /* CONTENT */
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .top-row {
    display: flex;
    gap: 0.8rem;
    width: 100%;
  }
  
  .toast .title {
    margin-top: 0.3rem;
    font-size: var(--text-mobile-small);
    line-height: var(--text-mobile-small--line-height);
    font-family: var(--font-heading);
    @media (width >= 1024px) {
      font-size: var(--text-desktop-small);
      line-height: var(--text-desktop-small--line-height);
    }
  }

  .description {
    font-size: var(--text-mobile-small);
    line-height: var(--text-mobile-small--line-height);
    @media (width >= 1024px) {
      font-size: var(--text-desktop-small);
      line-height: var(--text-desktop-small--line-height);
    }
  }

  .action {
    align-self: flex-end;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--text-mobile-small);
    font-family: var(--font-heading);
    padding: 0.25rem 0.5rem;
    margin-right: 2rem;
    border-radius: 0.25rem;
  }

  .action:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .action:focus {
    outline: none;
    --tw-ring-offset-width: 0.2rem;
    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  }

  .toast.outlined .action {
    color: inherit;
    border: none;
  }

  .toast.outlined .action:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
  }

  .close {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
  }

  .close:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .close:focus {
    outline: none;
    --tw-ring-offset-width: 0.2rem;
    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
  }

  .toast.outlined .close {
    color: inherit;
  }

  .toast.outlined .close:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
  }

  .viewport {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 31.75rem;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 2147483647; /* highest z-index possible */
    outline: none;
    pointer-events: none;
  }

}

