@layer base {
    .overlay {
        background-color: var(--color-grey-fill-weak);
        position: fixed;
        inset: 0;
        z-index: 1000;
        
        &[data-state="open"] {
            animation: var(--animate-fade-in);
        }
        &[data-state="closed"] {
            animation: var(--animate-fade-out);
        }
    }
    
    .content {
        height: max-content;
        max-width: 90vw;
        border-radius: 1.6rem;
        color: var(--color-grey-text-strong);
        background-color: var(--color-white);
        box-shadow: 0 16px 25.1px -2px var(--color-grey-stroke-weak);
        padding: 4rem 2.4rem;
        position: fixed;
        inset: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &[data-state="open"] {
            animation: var(--animate-fade-in);
        }
        &[data-state="closed"] {
            animation: var(--animate-fade-out);
        }

        &.small {
            width: 32.2rem;
        }
        &.medium {
            width: 39.5rem;
        }
        &.large {
            width: 50rem;
        }

        .titleContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: row-reverse;
            gap: 1rem;

            .title {
                color: var(--color-grey-text-strong);
                display: flex;
                flex-grow: 1;
            }
            .closeButton {
                display: flex;
                flex-grow: 0;
                cursor: pointer;
                height: 1em;
                min-width: 1rem;
            }
        }
        .description {
            color: var(--color-grey-text-weak);
        }
        .buttonsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
        }
    }


}